.ft {
  font-family: 'Merriweather', serif;
}
.ft * {
  font-family: 'Merriweather', serif;
}
@media (max-width: 992px) {
  .titles.title-large {
    font-size: 24px;
    line-height: 1.33333333;
    font-weight: bold;
    letter-spacing: 0.1px;
    margin-bottom: 15px;
  }
}
@media (min-width: 993px) {
  .titles.title-large {
    font-size: 48px;
    line-height: 1.35416667;
    font-weight: 900;
    letter-spacing: 0.2px;
    margin-bottom: 1.25em;
  }
}
/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
.white-popup-block {
  background: #fff;
  width: 600px;
  padding: 30px;
  margin: 0 auto;
  max-width: 100%;
  font-size: 16px;
  position: relative;
}
.white-popup-block .popup-modal-dismiss {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  z-index: 10;
  width: 24px;
  height: 24px;
}
.frm-popup .popup-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.frm-popup .btns.btns__page {
  width: 100%;
  min-width: 0;
  padding: 0 24px;
}
.field-button-hidden .btns {
  display: none;
}
.field-button-hidden .btns.button-action {
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.field-button-hidden .btns.button-action.active {
  display: none;
}
.field-button-hidden .btns.button-action.active ~ .btns {
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.form-page {
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 1.42857143;
  letter-spacing: 0.2px;
  color: #000;
  text-align: left;
}
.form-page .frm-field-textfield {
  border: none;
  border-radius: 0;
  padding: 0;
}
.form-page .frm-field-textfield .frm-field-buttons-panel {
  border-bottom: none;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: -20px;
}
.form-page .frm-field-textfield .frm-field-buttons-panel .button-ico {
  width: 20px;
  height: 20px;
}
.form-page .frm-field-textfield .frm-field-buttons-panel .field-button-panel {
  padding-right: 10px;
}
.form-page .frm-field-textfield .inputs.inputs__border {
  height: 245px;
}
.form-page .frm-section-inner .section-photo-wrap {
  padding: 0 9px;
  margin-bottom: 12px;
}
.form-page .frm-section-inner .frm-photo-load {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}
.form-page .frm-section-inner .frm-photo-load:last-child {
  margin-bottom: 0;
}
.form-page .frm-row-submit.row-step {
  margin-top: -10px;
}
.form-page .frm-row.row-plus .frm-field-title,
.form-page .frm-row.row-load .frm-field-title {
  margin-bottom: 16px;
}
.form-page .frm-row.row-plus .field-input,
.form-page .frm-row.row-load .field-input {
  margin-bottom: 10px;
}
.form-page .frm-row.row-plus .field-input-button,
.form-page .frm-row.row-load .field-input-button {
  text-align: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 6px;
}
.form-page .frm-row.row-plus .field-input-button .btns.btns__yellow,
.form-page .frm-row.row-load .field-input-button .btns.btns__yellow {
  min-width: 0;
  width: auto;
}
.form-page .frm-row.row-step-main textarea.inputs.inputs__border {
  height: 250px;
}
.form-page .frm-row.row-step textarea.inputs.inputs__border {
  height: 110px;
}
.form-page .frm-row.row-step .frm-field-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-page .frm-row.row-step .frm-field-content .field-input {
  -ms-flex-order: 1;
      order: 1;
  width: 100%;
  margin-bottom: 10px;
}
.form-page .frm-row.row-step .frm-field-content .field-input-button {
  -ms-flex-order: 3;
      order: 3;
  width: 100%;
}
.form-page .frm-row.row-step .frm-field-content .field-text {
  -ms-flex-order: 2;
      order: 2;
  width: 100%;
  margin-bottom: 10px;
  line-height: 1;
}
.form-page .frm-row.row-step .frm-field-content .btns.btns__yellow {
  width: auto;
  min-width: 0;
}
.form-page .frm-row.row-one .frm-field {
  margin-bottom: 0;
}
.form-page .row-user .frm-field-content {
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px;
}
.form-page .row-user .field-photo {
  margin-bottom: 15px;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.form-page .row-user .field-buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
}
.form-page .row-user .field-button {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding: 0 5px;
  width: auto;
  margin-bottom: 10px;
}
.form-page .row-user .field-button .btns.btns__yellow {
  width: 100%;
  height: 28px;
  padding: 0 9px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.2px;
  min-height: 28px;
  min-width: 0;
  white-space: nowrap;
}
.form-page .row-user .field-button .btns.btns__yellow .button-ico {
  width: 16px;
  height: 16px;
}
.form-page .row-user .elm-photo {
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 auto;
}
.form-page .frm-field-title {
  font-size: 14px;
  line-height: 1.25;
  font-weight: bold;
  margin: 0 0 5px 0;
  font-family: 'Merriweather', serif;
}
.form-page .frm-field-title * {
  font-family: 'Merriweather', serif;
}
.form-page .frm-field-title.title-medium {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}
.form-page .frm-field-title.title-large {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.35;
  margin-bottom: 10px;
}
.form-page .frm-section-wrap {
  display: block;
  position: relative;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #BDBDBD;
}
.form-page .frm-row,
.form-page .frm-row-submit {
  margin: 0 -5px;
}
.form-page .frm-row-submit .frm-field {
  margin-bottom: 15px;
}
.form-page .frm-row-submit .frm-field:last-child {
  margin-bottom: 0;
}
.form-page .frm-field {
  padding: 0 5px;
  margin-bottom: 10px;
}
.form-page .field-select {
  margin-bottom: 0;
}
.form-page .field-half-half {
  width: 50%;
}
.form-page .field-date,
.form-page .field-row,
.form-page .field-messenger {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.form-page .field-date .frm-field-title,
.form-page .field-row .frm-field-title,
.form-page .field-messenger .frm-field-title {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 10px 0 0;
  margin: 0;
  min-width: 137px;
}
.form-page .field-date .frm-field-content,
.form-page .field-row .frm-field-content,
.form-page .field-messenger .frm-field-content {
  -ms-flex: 1;
      flex: 1;
}
.form-page .field-date .btns.btns__yellow,
.form-page .field-row .btns.btns__yellow,
.form-page .field-messenger .btns.btns__yellow {
  width: auto;
  min-width: 0;
}
.form-page .field-messenger .frm-field-title {
  min-width: 90px;
}
.form-page .field-date {
  max-width: 310px;
}
.form-page .field-submit {
  -ms-flex-pack: start;
      justify-content: flex-start;
  text-align: right;
}
.form-page .field-submit .btns.btns__yellow {
  width: auto;
  min-width: 0;
}
.form-page .inputs.inputs__border {
  height: 42px;
  border-radius: 5px;
  border-color: #737373;
  padding: 0 0 0 14px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #000;
  font-weight: 400;
  text-overflow: ellipsis;
  margin: 0;
  width: 100%;
}
.form-page .inputs.inputs__border.inputs__date {
  background-image: url(../img/icons/date.svg);
  background-size: 24px auto;
  background-position: right 15px center;
  background-repeat: no-repeat;
}
.form-page select.inputs.inputs__border {
  background-position: right 15px center;
  background-size: 15px auto;
  padding-right: 40px;
}
.form-page textarea.inputs.inputs__border {
  height: 245px;
  padding: 14px;
}
.form-page .btns.btns__yellow {
  min-height: 42px;
  height: auto;
  padding: 5px 40px;
  border-radius: 5px;
  font-size: 13px;
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-align: center;
  white-space: normal;
  width: 100%;
  border-color: #FDB602;
  cursor: pointer;
}
.form-page .btns.btns__yellow .button-title {
  font-weight: inherit;
}
.form-page .btns.btns__yellow.btns__border {
  padding-left: 14px;
  padding-right: 14px;
}
.form-page .btns.btns__yellow.btns__border:not(:hover) {
  border-color: #D0A144 !important;
  border-width: 1px !important;
  color: #784F33 !important;
}
.form-page .btns.btns__yellow.btns__border:hover {
  border-width: 1px !important;
}
.form-page .btns.btns__yellow.btns__border:hover .button-ico {
  filter: brightness(0) invert(1);
}
.form-page .btns.btns__yellow .button-ico {
  width: 16px;
  height: 16px;
  margin: 0 10px;
}
.form-page .btns.btns__yellow .button-ico:first-child {
  margin-left: 0;
}
.form-page .btns.btns__yellow .button-ico:last-child {
  margin-right: 0;
}
.form-page .frm-select {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}
.form-page .frm-select.select-main {
  font-weight: bold;
  color: #000;
  font-family: 'Merriweather', serif;
}
.form-page .frm-select.select-main * {
  font-family: 'Merriweather', serif;
}
.form-page .frm-select.select-main label {
  color: #000;
}
.form-page .frm-select label {
  padding-left: 39px;
}
.form-page .frm-select label:after,
.form-page .frm-select label:before {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-radius: 3px;
}
.form-page .frm-select label:after {
  background-size: 12px auto;
}
.form-page .frm-select label:before {
  border-color: #737373;
}
.form-page .section-content-wrap {
  padding: 10px 10px 15px 10px;
}
.form-page .section-title-wrap {
  display: block;
  position: relative;
  padding: 14px 9px;
  font-family: 'Merriweather', serif;
}
.form-page .section-title-wrap * {
  font-family: 'Merriweather', serif;
}
.form-page .section-title-wrap.js-btn-popup-toggle {
  cursor: pointer;
  padding-right: 40px;
}
.form-page .section-title-wrap.js-btn-popup-toggle.active:before {
  transform: rotate(180deg);
}
.form-page .section-title-wrap.js-btn-popup-toggle:before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  background: url(../img/icons/arrow-toggle.svg) center no-repeat;
  background-size: 100% auto;
  top: 14px;
  right: 9px;
  transition: all ease 0.2s;
}
.form-page .section-title {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  font-weight: 500;
  margin: 0;
}
.form-page .js-popup-block {
  display: none;
}
.form-page .js-btn-popup-toggle.active + .js-popup-block {
  display: block;
}
.frm-select {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 1;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 1px;
}
.frm-select.select-main {
  font-family: 'Merriweather', serif;
  font-weight: bold;
}
.frm-select.select-main * {
  font-family: 'Merriweather', serif;
}
.frm-select input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.frm-select input:checked ~ label:after {
  opacity: 1;
}
.frm-select label {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 34px;
  text-align: left;
}
.frm-select label:before,
.frm-select label:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
}
.frm-select label:after {
  border: none;
  background: #D0A144 url(https://smartpravo.com/front_user/images/check.svg) center no-repeat;
  background-size: 20px auto;
  opacity: 0;
}
.frm-photo-load {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  aspect-ratio: 290/184;
  background: #FAFAFA;
  position: relative;
  overflow: hidden;
  padding: 15px;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  letter-spacing: 0.2px;
  text-align: center;
}
.frm-photo-load.photo-main {
  aspect-ratio: 290/397;
}
.frm-photo-load .photo-load-title {
  display: block;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.frm-photo-load .photo-load-name {
  display: block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #000;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}
.frm-photo-load .photo-load-name * {
  font-family: 'Merriweather', serif;
}
.frm-photo-load .photo-load-info {
  display: block;
  margin-bottom: 10px;
}
.frm-photo-load .btns.btns__yellow.btns__border {
  width: auto;
  padding: 0 15px;
  min-width: 0;
}
.frm-photo-load .cover {
  z-index: 3;
}
.inputs.inputs__border.inputs__border-second {
  height: 54px;
  padding-left: 14px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  border-radius: 0;
  background: none;
  border-color: #BDBDBD;
  color: #000;
  margin: 0;
}
textarea.inputs.inputs__border.inputs__border-second {
  height: 210px;
  padding: 14px;
  line-height: 1.5;
}
.btns {
  -webkit-appearance: none;
}
.btns.btns__page {
  height: 42px;
  padding: 0 30px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2px;
  background-color: #D0A144;
  border-color: #D0A144;
  color: #fff;
  width: auto;
  box-shadow: none;
  cursor: pointer;
}
.btns.btns__page:hover {
  color: #fff;
  background-color: #bf9033;
  border-color: #bf9033;
}
.btns.btns__page.btns__border:not(:hover) {
  background-color: transparent;
  border-color: #D0A144 !important;
  color: #D0A144;
}
.btns.btns__page.btns__ico {
  padding: 0 !important;
}
.btns.btns__page.btns__ico .button-ico {
  margin: 0 auto !important;
}
.btn-action-ico {
  min-width: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  transition: all ease 0.2s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.btn-action-ico:not(.btn) {
  background: none;
  border: none;
  box-shadow: none;
}
.btn-action-ico:before,
.btn-action-ico:after,
.btn-action-ico [class*="icon-"],
.btn-action-ico img {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  transition: all ease 0.2s;
}
.btn-action-ico:before,
.btn-action-ico:after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto auto;
}
.btn-action-ico:hover {
  text-decoration: none;
}
.btn-action-ico:hover:not(.btn) {
  background: none;
  box-shadow: none;
}
.btn-action-ico.ico-edit:before {
  background-image: url(../img/icons/edit.svg);
  background-size: 21px auto;
}
.btn-action-ico.ico-close:before,
.btn-action-ico.ico-close:after {
  width: 16px;
  height: 2px;
  background: #000;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin: -1px 0 0 -8px;
  transition: all ease 0.2s;
  transform: rotate(45deg);
}
.btn-action-ico.ico-close:before {
  transform: rotate(-45deg);
}
.btn-action-ico.ico-close:hover:before,
.btn-action-ico.ico-close:hover:after {
  background-color: #D0A144;
}
@media (max-width: 479px) {
  .white-popup-block {
    width: 320px;
    padding: 20px;
    font-size: 14px;
  }
  .frm-popup .popup-title {
    font-size: 20px;
  }
}
@media (min-width: 640px) {
  .form-page .field-select {
    width: auto;
  }
}
@media (min-width: 993px) {
  .form-page .frm-field-textfield .frm-field-buttons-panel {
    margin-bottom: 10px;
    margin-right: -20px;
  }
  .form-page .frm-field-textfield .frm-field-buttons-panel .button-ico {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  .form-page .frm-field-textfield .frm-field-buttons-panel .field-button-panel {
    padding-right: 20px;
  }
  .form-page .frm-field-textfield .inputs.inputs__border {
    height: 245px;
  }
  .form-page .frm-field-textfield .inputs.inputs__border.inputs__small {
    height: 80px;
  }
  .form-page .frm-row.row-load .frm-field {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }
  .form-page .frm-row.row-load .frm-field .frm-field-title {
    padding-right: 15px;
    margin-bottom: 0;
    width: auto;
    -ms-flex: 1;
        flex: 1;
  }
  .form-page .frm-row.row-load .frm-field .frm-field-content {
    -ms-flex: inherit;
        flex: inherit;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .form-page .frm-row.row-load .frm-field .frm-field-button {
    width: auto;
    margin-bottom: 0;
  }
  .form-page .frm-row.row-plus .frm-field-content {
    display: -ms-flexbox;
    display: flex;
  }
  .form-page .frm-row.row-plus .field-input {
    -ms-flex: 1;
        flex: 1;
    margin-bottom: 0;
  }
  .form-page .frm-row.row-plus .field-input-button {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-left: 15px;
    margin-bottom: 0;
  }
  .form-page .frm-section-inner {
    display: -ms-flexbox;
    display: flex;
  }
  .form-page .frm-section-inner .section-photo-wrap {
    width: 305px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 0 -15px 0 0;
    margin-bottom: 0;
  }
  .form-page .frm-section-inner .section-info-wrap {
    -ms-flex: 1;
        flex: 1;
    max-width: calc(100% - 305px);
  }
  .form-page .frm-section-inner .frm-field {
    display: block;
  }
  .form-page .frm-section-inner .frm-field .frm-field-title {
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
  }
  .form-page .frm-row-submit.row-step {
    margin-top: 0;
  }
  @supports (display: contents) {
    .form-page .frm-row.row-step .frm-field-content {
      display: contents !important;
    }
    .form-page .frm-row.row-step .frm-field {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .form-page .frm-row.row-step .frm-field .frm-field-title {
      -ms-flex-order: 1;
          order: 1;
    }
  }
  .form-page .frm-row.row-step .frm-field {
    margin-bottom: 15px;
    -ms-flex-align: start;
        align-items: flex-start;
  }
  .form-page .frm-row.row-step .frm-field .frm-field-title {
    padding-top: 9px;
    min-width: 160px;
  }
  .form-page .frm-row.row-step .frm-field-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: start;
        align-items: flex-start;
  }
  .form-page .frm-row.row-step .frm-field-content .field-input {
    -ms-flex: 1;
        flex: 1;
    -ms-flex-order: 2;
        order: 2;
    width: auto;
  }
  .form-page .frm-row.row-step .frm-field-content .field-input-button {
    -ms-flex-order: 3;
        order: 3;
    width: auto;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-bottom: 10px;
    padding-left: 15px;
  }
  .form-page .frm-row.row-step .frm-field-content .field-text {
    -ms-flex-order: 4;
        order: 4;
    width: 100%;
    margin-bottom: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .form-page .frm-row.row-step .frm-field-content .btns.btns__yellow {
    width: auto;
    min-width: 0;
  }
  .form-page .frm-row.row-step textarea.inputs.inputs__border {
    font-size: 16px;
    height: 80px;
    line-height: 1.35;
    letter-spacing: 0.2px;
  }
  .form-page .frm-row.row-step-main textarea.inputs.inputs__border {
    font-size: 16px;
    height: 118px;
    line-height: 1.35;
    letter-spacing: 0.2px;
  }
  .form-page .frm-row.row-one .frm-field {
    margin-bottom: 0;
  }
  .form-page .frm-select.select-main {
    font-size: 16px;
    letter-spacing: 0.1px;
  }
  .form-page .row-user .frm-field-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
    padding-left: 5px;
    -ms-flex: 1;
        flex: 1;
  }
  .form-page .row-user .field-photo {
    width: 100px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 0;
    margin: 0 15px 0 0;
  }
  .form-page .row-user .field-buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
        flex: 1;
    margin: 0;
    padding: 0;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form-page .row-user .field-buttons .field-button {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-bottom: 0;
    width: auto;
    min-width: 0;
    display: block;
    margin: 5px 0;
  }
  .form-page .row-user .field-buttons .btns.btns__yellow {
    width: auto;
    padding: 0 20px;
    min-height: 43px;
    height: 43px;
    font-size: 14px;
    font-weight: bold;
  }
  .form-page .row-user .field-buttons .btns.btns__yellow .button-title {
    font-weight: bold;
  }
  .form-page .row-user .field-buttons .btns.btns__yellow .button-ico {
    width: 20px;
    height: 20px;
  }
  .form-page .frm-section-wrap {
    padding-top: 20px;
  }
  .form-page .section-title-wrap {
    padding: 15px 25px;
  }
  .form-page .section-content-wrap {
    padding: 0 25px 25px 25px;
  }
  .form-page .section-title {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.2px;
  }
  .form-page .section-title:before {
    right: 15px;
  }
  .form-page .frm-field-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    margin: 0;
    padding: 0 10px 0 0;
  }
  .form-page .frm-field-title br {
    display: none;
  }
  .form-page .frm-field-title.title-medium {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
    font-weight: 400;
  }
  .form-page .frm-field-title.title-large {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    padding: 0 30px 0 0;
    margin: 0;
  }
  .form-page .frm-field-content {
    -ms-flex: 1;
        flex: 1;
  }
  .form-page .frm-row,
  .form-page .frm-row-submit {
    margin: 0 -8px 0 -7px;
  }
  .form-page .frm-row-submit {
    padding-top: 0;
    margin-top: -10px;
  }
  .form-page .frm-row-submit.submit-main {
    margin-top: 0;
  }
  .form-page .frm-row-submit .frm-field {
    text-align: right;
    -ms-flex-pack: end;
        justify-content: flex-end;
  }
  .form-page .frm-row-submit .btns.btns__yellow {
    width: auto;
    min-width: 0;
  }
  .form-page .frm-field {
    padding: 0 8px 0 7px;
    margin-bottom: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }
  .form-page .field-select {
    padding-right: 40px;
    margin-bottom: 0;
  }
  .form-page .field-date .frm-field-title {
    min-width: 0;
  }
  .form-page .field-password {
    max-width: 580px;
  }
  .form-page .field-password .frm-field-title {
    min-width: 215px;
  }
  .form-page .field-half {
    width: 50%;
  }
  .form-page .field-half-half {
    width: 30%;
  }
  .form-page .field-half-half + .field-half-half {
    width: 20%;
  }
  .form-page .btns {
    font-size: 14px;
    line-height: 1.25;
    font-weight: bold;
    letter-spacing: 0.2px;
  }
  .form-page .btns .button-ico {
    width: 24px;
    height: 24px;
  }
  .form-page .field-messenger-main {
    width: 50%;
    max-width: 430px;
    padding-right: 30px;
  }
  .form-page .field-messenger-main:nth-child(2),
  .form-page .field-messenger-main:nth-child(4),
  .form-page .field-messenger-main:nth-child(6) {
    padding-right: 8px;
    max-width: 402px;
  }
  .form-page .field-messenger {
    width: 50%;
    max-width: 430px;
    padding-right: 30px;
  }
  .form-page .field-messenger:nth-child(2),
  .form-page .field-messenger:nth-child(4),
  .form-page .field-messenger:nth-child(6) {
    padding-right: 8px;
    max-width: 402px;
  }
  .form-page .section-main .frm-field-title {
    min-width: 92px;
  }
  .form-page .section-main .field-half-half .frm-field-title {
    min-width: 0;
  }
  .btns.btns__page {
    height: 4.1em;
    padding: 0 4.35em;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
  }
}
@media (min-width: 993px) and (max-width: 1399px) {
  .form-page .frm-section-inner {
    display: block;
  }
  .form-page .frm-section-inner .section-photo-wrap {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  .form-page .frm-section-inner .section-info-wrap {
    width: 100%;
    max-width: 100%;
  }
  .form-page .field-half-half {
    width: 50%;
  }
  .form-page .field-half-half + .field-half-half {
    width: 100%;
  }
  .form-page .section-main .field-half-half .frm-field-title {
    min-width: 92px;
  }
}
/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.item-tile-step {
  display: block;
  position: relative;
  border: 1px solid #D0A144;
  padding: 9px;
  text-align: left;
  min-height: 100%;
}
.item-tile-step .tile-title-wrap {
  margin-bottom: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.item-tile-step .tile-number {
  font-size: 40px;
  line-height: 1.25;
  font-weight: bold;
  color: #fff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 45px;
  text-shadow: #784f33 2px 0px 0px, #784f33 1.75517px 0.958851px 0px, #784f33 1.0806px 1.68294px 0px, #784f33 0.141474px 1.99499px 0px, #784f33 -0.832294px 1.81859px 0px, #784f33 -1.60229px 1.19694px 0px, #784f33 -1.97998px 0.28224px 0px, #784f33 -1.87291px -0.701566px 0px, #784f33 -1.30729px -1.5136px 0px, #784f33 -0.421592px -1.95506px 0px, #784f33 0.567324px -1.91785px 0px, #784f33 1.41734px -1.41108px 0px, #784f33 1.92034px -0.558831px 0px;
  letter-spacing: 0.2px;
}
.item-tile-step .tile-title {
  font-size: 18px;
  font-weight: bold;
  color: #D0A144;
  margin: 0;
  line-height: 1.35;
  padding-left: 10px;
  display: block;
  font-family: 'Merriweather', serif;
}
.item-tile-step .tile-title * {
  font-family: 'Merriweather', serif;
}
.item-tile-step p {
  margin: 0;
}
.item-tile-step p:last-child {
  margin-bottom: 0;
}
.item-tile-video .button-ico.ico-second {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: url(../img/icons/play.svg) center no-repeat;
  background-size: 11% auto;
}
.item-tile-solution .tile-price-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.item-tile-solution.tile-service {
  padding: 29px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  border: 1px solid #DBB468;
}
.item-tile-solution.tile-service .tile-title-wrap {
  display: block;
  padding: 0 0 20px 0;
  margin: 0;
  -ms-flex: 1;
      flex: 1;
}
.item-tile-solution.tile-service .tile-title-wrap .tile-ico {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  width: 60px;
  height: 60px;
  margin: 0 0 20px 0;
  border: none;
  border-radius: 0;
}
.item-tile-solution.tile-service .tile-title-wrap .tile-ico img,
.item-tile-solution.tile-service .tile-title-wrap .tile-ico svg {
  max-width: 100%;
  max-height: 100%;
}
.item-tile-solution.tile-service .tile-title-wrap .tile-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  letter-spacing: 0.1px;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}
.item-tile-solution.tile-service .tile-title-wrap .tile-title * {
  font-family: 'Merriweather', serif;
}
.item-tile-solution.tile-service .tile-title-wrap .tile-title a {
  display: block;
  color: inherit;
}
.item-tile-solution.tile-service .tile-action-wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
  padding: 0;
}
.item-tile-solution.tile-service .tile-action-wrap .btns {
  width: 100%;
  height: 38px;
  font-size: 14px;
  letter-spacing: 0.2px;
}
:is([class^="item-tile"]):hover .elm-photo img,
:is([class^="item-tile"]):hover .tile-photo img {
  transform: scale(1.03);
}
.elm-photo,
.tile-photo {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  line-height: 1;
}
.elm-photo.photo-main,
.tile-photo.photo-main {
  border: 1px solid #f00;
  width: 300px;
  height: 300px;
}
.elm-photo:before,
.tile-photo:before {
  content: "";
  display: none;
  padding-top: 100%;
}
.elm-photo img,
.tile-photo img {
  display: block;
  position: relative;
  width: 100%;
  transition: all ease-out 1s;
}
.elm-photo.photo-cover:before,
.tile-photo.photo-cover:before {
  display: block;
}
.elm-photo.photo-cover img,
.tile-photo.photo-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.elm-photo.photo-contain:before,
.tile-photo.photo-contain:before {
  display: block;
}
.elm-photo.photo-contain img,
.tile-photo.photo-contain img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
@supports (aspect-ratio: 1) {
  .elm-photo:not(.photo-cover, .photo-contain),
  .tile-photo:not(.photo-cover, .photo-contain) {
    aspect-ratio: inherit !important;
  }
  .photo-cover,
  .photo-contain {
    aspect-ratio: 1;
  }
  .photo-cover:before,
  .photo-contain:before {
    display: none !important;
  }
}
@media (max-width: 639px) {
  .item-tile-solution.tile-service {
    padding: 9px 19px;
  }
  .item-tile-solution.tile-service .tile-title-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding-bottom: 10px;
  }
  .item-tile-solution.tile-service .tile-title-wrap .tile-ico {
    width: 42px;
    height: 42px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 0;
  }
  .item-tile-solution.tile-service .tile-title-wrap .tile-ico img,
  .item-tile-solution.tile-service .tile-title-wrap .tile-ico svg {
    max-width: 33px;
    max-height: 33px;
  }
  .item-tile-solution.tile-service .tile-title-wrap .tile-title {
    font-size: 18px;
    line-height: 1.35;
    margin: 0;
    padding: 0 0 0 10px;
  }
}
@media (min-width: 993px) {
  .item-tile-step {
    padding: 29px;
  }
  .item-tile-step .tile-title-wrap {
    display: block;
    margin-bottom: 18px;
  }
  .item-tile-step .tile-number {
    font-size: 3.625em;
    line-height: 1.12068966;
    letter-spacing: 0.2px;
    margin-bottom: 18px;
    min-width: 0;
    display: block;
  }
  .item-tile-step .tile-title {
    font-size: 1.5em;
    line-height: 1.33333333;
    letter-spacing: 0.1px;
    margin: 0;
  }
}
/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.items-wrap .wrap-hidden {
  display: none;
}
.items-wrap.show-all .item-wrap.wrap-hidden {
  display: block;
}
.items-wrap.show-all ~ .more-box {
  display: none;
}
.profile-box,
.profile-menu-box {
  display: block;
  position: relative;
  margin-bottom: 15px;
}
.profile-box:last-child,
.profile-menu-box:last-child {
  margin-bottom: 30px;
}
.profile-box .menu,
.profile-menu-box .menu {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 1.25;
}
.profile-box .menu li,
.profile-menu-box .menu li {
  margin: 0;
  padding: 0;
}
.profile-box .menu li:before,
.profile-menu-box .menu li:before {
  display: none;
}
.profile-box .btn-menu,
.profile-menu-box .btn-menu {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-align: center;
      align-items: center;
  color: inherit;
  transition: all ease 0.2s;
  padding: 8px 15px;
  font-family: 'Merriweather', serif;
}
.profile-box .btn-menu *,
.profile-menu-box .btn-menu * {
  font-family: 'Merriweather', serif;
}
.profile-box .btn-menu:hover,
.profile-menu-box .btn-menu:hover,
.profile-box .btn-menu.active,
.profile-menu-box .btn-menu.active {
  color: #D0A144;
}
.profile-box .btn-menu:hover .button-ico,
.profile-menu-box .btn-menu:hover .button-ico,
.profile-box .btn-menu.active .button-ico,
.profile-menu-box .btn-menu.active .button-ico {
  filter: none;
}
.profile-box .btn-menu .button-ico,
.profile-menu-box .btn-menu .button-ico {
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  filter: brightness(0) grayscale(1);
}
.profile-box .btn-menu .button-ico + .button-title,
.profile-menu-box .btn-menu .button-ico + .button-title {
  padding-left: 10px;
}
.profile-box .btn-menu .button-title,
.profile-menu-box .btn-menu .button-title {
  display: block;
  position: relative;
  -ms-flex: 1;
      flex: 1;
}
.profile-box .btn-menu .button-count,
.profile-menu-box .btn-menu .button-count {
  color: #D0A144;
  display: inline;
}
.profile-box {
  background-color: #FAFAFA;
  border-radius: 10px;
  padding: 20px 10px;
}
.profile-box .user-inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  font-size: 14px;
  line-height: 1.42857143;
  letter-spacing: 0.2px;
  color: #737373;
  padding-bottom: 19px;
  border-bottom: 1px solid #BDBDBD;
  margin-bottom: 8px;
}
.profile-box .user-photo-wrap {
  width: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}
.profile-box .user-photo-wrap .elm-photo {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #BDBDBD;
}
.profile-box .user-photo-wrap .btn-action-ico {
  background: #fff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #BDBDBD;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.profile-box .user-info-wrap {
  -ms-flex: 1;
      flex: 1;
  padding: 0 0 0 17px;
}
.profile-box .user-title {
  display: block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: bold;
  color: #000;
  font-family: 'Merriweather', serif;
}
.profile-box .user-title * {
  font-family: 'Merriweather', serif;
}
.profile-box .user-location {
  display: block;
  padding-top: 5px;
}
.profile-box .user-info {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.profile-menu-box .menu li {
  margin-bottom: 15px;
}
.profile-menu-box .menu li:last-child {
  margin-bottom: 0;
}
.profile-menu-box .btn-menu {
  padding: 12px 10px 12px 40px;
  border-radius: 10px;
  background: #FAFAFA;
}
.profile-menu-box .btn-menu:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 20px;
  width: 4px;
  height: 4px;
  background: currentColor;
  border-radius: 50%;
  margin-top: -3px;
}
.contacts-section-box {
  padding: 30px 0;
  background: #FAFAFA;
}
.contacts-section-box .info-inner-wrap {
  margin-bottom: 15px;
  text-align: center;
}
.contacts-section-box .title-inner-wrap {
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: 0.1px;
  font-family: 'Merriweather', serif;
}
.contacts-section-box .title-inner-wrap * {
  font-family: 'Merriweather', serif;
}
.contacts-section-box .frm-row,
.contacts-section-box .frm-row-submit {
  margin: 0 -8px;
}
.contacts-section-box .frm-row-submit .frm-field {
  margin-bottom: 10px;
  text-align: center;
}
.contacts-section-box .frm-row-submit .field-submit {
  margin: 0;
}
.contacts-section-box .frm-row-submit .frm-select {
  display: inline-block;
  margin-left: 30px;
}
.contacts-section-box .frm-field {
  width: 100%;
  padding: 0 8px;
  margin-bottom: 15px;
}
.contacts-section-box .cnt-wrap {
  margin-bottom: 15px;
}
.contacts-section-box p:last-child {
  margin-bottom: 0;
}
.contacts-section-box .link-phone,
.contacts-section-box .link-email {
  display: inline-block;
  position: relative;
  color: inherit;
  padding: 0 0 0 34px;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.contacts-section-box .link-phone:before,
.contacts-section-box .link-email:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  background: url(../img/icons/link-phone.svg) center no-repeat;
  background-size: 100% auto;
  top: 50%;
  left: 0;
  margin-top: -12px;
}
.contacts-section-box .link-email {
  font-size: 20px;
}
.contacts-section-box .link-email:before {
  background-image: url(../img/icons/link-email.svg);
}
.contacts-section-box .btns.btns__page {
  height: 48px;
  padding: 0 30px;
  min-width: 0;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2px;
}
.contacts-section-box .btns.btns__page .button-title {
  font-weight: bold;
}
.contacts-section-box .btns.btns__page .button-ico {
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
}
.warranty-section-box {
  font-size: 14px;
  line-height: 1.42857143;
  letter-spacing: 0.2px;
  color: #737373;
}
.warranty-section-box .photo-inner-wrap {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  position: relative;
  margin-bottom: 15px;
}
.warranty-section-box .photo-inner-wrap:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  right: 0;
  border: 1px solid #D0A144;
  pointer-events: none;
  z-index: 2;
}
.warranty-section-box .info-inner-wrap .titles {
  padding-bottom: 15px;
  color: #D0A144;
  border-bottom: 1px solid #DBB468;
  margin-bottom: 18px;
  text-align: left;
}
.warranty-section-box p {
  margin-bottom: 8px;
}
.warranty-section-box p:last-child {
  margin-bottom: 0;
}
.steps-section-box {
  font-size: 14px;
  line-height: 1.42857143;
  color: #737373;
  letter-spacing: 0.2px;
}
.steps-section-box .info-inner-wrap {
  margin-bottom: 15px;
}
.steps-section-box .info-inner-wrap .titles {
  margin-bottom: 15px;
  color: #D0A144;
  text-align: left;
}
.steps-section-box .info-inner-wrap p:last-child {
  margin-bottom: 0;
}
.steps-section-box .items-wrap {
  margin: 0;
}
.steps-section-box .item-wrap {
  margin: 0;
  padding: 0;
}
.reviews-section-box .slider-inner-wrap {
  margin-bottom: 56px;
}
.reviews-section-box .slider-wrap {
  margin: 0 -8px;
}
.reviews-section-box .sl-wrap {
  padding: 0 8px;
}
.reviews-section-box .slick-dots {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding-top: 15px;
}
.reviews-section-box .more-box {
  margin-top: 0;
}
.reviews-section-box .reference__iteminside {
  font-size: 14px;
  line-height: 1.42857143;
  letter-spacing: 0.2px;
  padding: 30px 34px;
  border-radius: 5px;
  color: #737373;
  margin: 0;
  width: 100%;
  max-width: 100%;
}
.reviews-section-box .reference__iteminside .reference__logo {
  background: #F9F9F9 url(../img/icons/user.svg) center no-repeat;
  background-size: 100% auto;
}
.reviews-section-box .reference__iteminside .reference__descr {
  font-size: 1em;
}
.reviews-section-box .reference__iteminside .reference__center {
  margin: 0;
  padding: 26px 0 0 0;
  border-bottom: none;
}
.reviews-section-box .reference__iteminside .reference__username {
  line-height: 24px;
  font-weight: 600;
}
.reviews-section-box .reference__iteminside .reference__userwork {
  color: #000;
  display: block;
  line-height: 24px;
  font-weight: bold;
}
.reviews-section-box .reference__iteminside .reference__user {
  margin-bottom: 25px;
}
.srt-slider-section-box .slider-inner-wrap {
  border: 1px solid #D0A144;
  padding: 6px;
  position: relative;
  margin-bottom: 40px;
}
.srt-slider-section-box .slick-dots {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 20px 0 0 0;
  bottom: auto;
  margin: 0;
}
.srt-slider-section-box .slider {
  margin: 0;
}
.srt-slider-section-box .sl-wrap {
  padding: 0 5px;
}
.srt-slider-section-box .slider-wrap {
  margin: 0 -5px;
}
.srt-slider-section-box .elm-photo {
  width: auto;
  aspect-ratio: inherit;
}
.srt-slider-section-box .elm-photo img {
  width: auto;
  max-width: inherit;
  height: 230px;
}
.about-section-box {
  font-size: 14px;
  line-height: 1.42857143;
  letter-spacing: 0.2px;
}
.about-section-box .box-inner-wrap {
  margin-bottom: 60px;
}
.about-section-box .box-inner-wrap:last-child {
  margin-bottom: 0;
}
.about-section-box .title-inner-wrap {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.35;
}
.about-section-box .title-inner-wrap .titles {
  text-align: left;
  font-weight: 400;
  margin-bottom: 15px;
}
.about-section-box .title-inner-wrap a {
  color: inherit;
  text-decoration: underline;
}
.about-section-box .title-inner-wrap a:hover {
  text-decoration: none;
}
.about-section-box .title-inner-wrap .p-title {
  color: #737373;
}
.about-section-box .photo-inner-wrap {
  margin-bottom: 15px;
}
.about-section-box .photo-inner-wrap.photo-decor {
  padding: 22px 0 0 20px;
  position: relative;
}
.about-section-box .photo-inner-wrap.photo-decor:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 22px;
  bottom: 22px;
  border: 1px solid #D0A144;
}
.about-section-box .photo-inner-wrap.photo-decor .elm-photo {
  border-bottom: 1px solid #D0A144;
}
.about-section-box .photo-inner-wrap .elm-photo {
  z-index: 2;
}
.about-section-box .photo-inner-wrap .elm-photo + .elm-photo {
  margin-top: 15px;
}
.about-section-box .info-wrap {
  margin: 0 -8px 0 -8px;
}
.about-section-box .info-inner {
  margin-bottom: 15px;
  padding: 0 8px;
  width: 100%;
}
.about-section-box .info-tile {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-height: 100%;
  font-size: 18px;
  line-height: 1.35;
  font-weight: bold;
  color: #fff;
  background: #3B434E;
  padding: 15px;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: left;
  font-family: 'Merriweather', serif;
}
.about-section-box .info-tile * {
  font-family: 'Merriweather', serif;
}
.about-section-box .info-tile.tile-att {
  background: #D0A144;
}
.about-section-box .info-tile.tile-att .tile-ico {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #DBB468;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  letter-spacing: 0.1px;
  font-weight: bold;
}
.about-section-box .info-tile .tile-ico {
  width: 45px;
  height: 43px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 15px 0 0;
}
.about-section-box .desc-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  margin-bottom: 15px;
}
.about-section-box .desc-wrap b {
  text-decoration: underline;
  font-weight: bold;
}
.about-section-box .desc-wrap .elm-ico {
  width: 35px;
  height: 32px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.about-section-box .desc-wrap .desc-text {
  padding-left: 15px;
}
.about-section-box .action-wrap {
  margin-top: 30px;
}
.about-section-box .action-wrap .btns {
  width: 100%;
}
.about-section-box .btns.btns__page {
  font-size: 14px;
  height: 54px;
  font-weight: 400;
  font-family: 'Merriweather', serif;
}
.about-section-box .btns.btns__page * {
  font-family: 'Merriweather', serif;
}
.about-section-box .btns.btns__page .button-ico {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}
.about-section-box p {
  margin-bottom: 15px;
}
.about-section-box p:last-child {
  margin-bottom: 0;
}
.bg-box {
  background: #1F2732;
  color: #fff;
  padding: 30px 0;
}
.bg-box .section-page:last-child {
  margin-bottom: 0;
}
.top-section-box {
  padding-top: 30px;
  position: relative;
  z-index: 2;
}
.top-section-box.section-page .titles {
  text-align: left;
}
.top-section-box .box-inner-wrap {
  position: relative;
  padding: 30px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 1.3;
  font-family: 'Merriweather', serif;
}
.top-section-box .box-inner-wrap * {
  font-family: 'Merriweather', serif;
}
.top-section-box .box-inner-wrap:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
  background: linear-gradient(180deg, #1F2732 0%, #1F2732 71.39%, #D0A144 71.4%, #D0A144 100%);
  z-index: -1;
}
.top-section-box .box-inner-wrap .titles {
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}
.top-section-box .info-inner-wrap {
  margin-bottom: 10px;
}
.top-section-box .photo-inner-wrap {
  padding: 36px 8px 36px 8px;
  position: relative;
}
.top-section-box .photo-inner-wrap:before,
.top-section-box .photo-inner-wrap:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 24px;
  bottom: 24px;
  border: 1px solid #DBB468;
}
.top-section-box .photo-inner-wrap:after {
  left: 21px;
  top: 0;
  bottom: 0;
}
.top-section-box .actions-wrap {
  margin: 0 -8px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.top-section-box .action-wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  margin-bottom: 15px;
  padding: 0 8px;
}
.top-section-box .action-wrap + .action-wrap {
  width: calc(100% - 58px);
}
.top-section-box .action-wrap + .action-wrap + .action-wrap {
  width: 58px;
}
.top-section-box .action-wrap + .action-wrap + .action-wrap + .action-wrap {
  width: 100%;
}
.top-section-box .action-wrap .btns {
  width: 100%;
  padding: 0 20px;
  font-size: 1em;
  line-height: inherit;
  font-weight: 400;
  min-width: 0;
}
.top-section-box .action-wrap .btns.btns__border {
  border-width: 1px;
  border-radius: 0;
}
.top-section-box .action-wrap .btns.btns__border:not(:hover) {
  color: inherit !important;
}
.top-section-box .action-wrap .btns .button-ico {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}
.top-section-box .action-wrap .btns.btns__ico .button-ico {
  width: 32px;
  height: 32px;
}
.top-section-box p {
  margin-bottom: 15px;
}
.top-section-box .item-tile-video {
  z-index: 2;
}
.solutions-box .items-wrap.items-grid {
  margin: 0;
}
.solutions-box .items-wrap.items-grid .item-wrap {
  margin: 0;
  padding: 0;
}
.more-box {
  padding-top: 30px;
}
.more-box .btns {
  width: auto;
  min-width: 0;
}
.section-page {
  margin-bottom: 60px !important;
}
.section-page:last-child {
  margin-bottom: 0 !important;
}
.section-page .titles {
  text-align: center;
  font-family: 'Merriweather', serif;
}
.section-page .titles * {
  font-family: 'Merriweather', serif;
}
.slider-dots-main .slick-dots {
  -ms-flex-align: center;
      align-items: center;
  margin: 0;
  height: auto;
  bottom: auto;
}
.slider-dots-main .slick-dots li {
  margin: 0 5px;
  width: auto;
  height: auto;
}
.slider-dots-main .slick-dots li button {
  width: 12px;
  height: 26px;
  border-radius: 0;
  background: none;
  border: none;
  opacity: 1;
  margin: 0;
  padding: 0;
  min-width: 0;
  position: relative;
}
.slider-dots-main .slick-dots li button:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #D0A144;
  border-radius: 50%;
  opacity: 1;
}
.slider-dots-main .slick-dots li.slick-active button {
  width: 26px;
}
.slider-dots-main .slick-dots li.slick-active button:before {
  width: 26px;
  height: 26px;
  margin: -13px 0 0 -13px;
}
@media (max-width: 992px) {
  .more-box {
    padding-top: 0;
  }
  .section-page {
    margin-bottom: 30px !important;
  }
}
@media (min-width: 768px) {
  .contacts-section-box .box-inner-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
        align-items: flex-start;
  }
  .contacts-section-box .info-inner-wrap {
    text-align: left;
    padding: 0 30px 0 0;
    width: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 0;
  }
  .contacts-section-box .form-inner-wrap {
    -ms-flex: 1;
        flex: 1;
    padding: 0;
    margin: 0;
  }
  .contacts-section-box .title-inner-wrap {
    text-align: left;
  }
  .steps-section-box .item-wrap {
    width: 50%;
  }
  .about-section-box .box-inner-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
        align-items: flex-start;
  }
  .about-section-box .photo-inner-wrap {
    width: 38%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 0;
    padding: 0;
  }
  .about-section-box .photo-inner-wrap.photo-decor ~ .info-inner-wrap {
    padding-top: 15px;
  }
  .about-section-box .info-inner-wrap {
    -ms-flex: 1;
        flex: 1;
    padding: 0 0 0 30px;
    margin: 0;
  }
}
@media (min-width: 993px) {
  .profile-menu-box .menu {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
  .profile-menu-box .btn-menu {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 21.32701px 27.72512px 40.52133px 0px rgba(0, 0, 0, 0.07);
  }
  .profile-box {
    padding-bottom: 15px;
    margin-bottom: 30px;
    box-shadow: 21.32701px 27.72512px 40.52133px 0px rgba(0, 0, 0, 0.07);
  }
  .profile-box .user-inner-wrap {
    padding-bottom: 24px;
  }
  .profile-box .menu {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
  .contacts-section-box {
    padding: 100px 0;
  }
  .contacts-section-box .info-inner-wrap {
    font-size: 24px;
    line-height: 1.33333333;
    letter-spacing: 0.1px;
  }
  .contacts-section-box .title-inner-wrap {
    margin-bottom: 30px;
    font-size: 1em;
    line-height: inherit;
  }
  .contacts-section-box .cnt-wrap {
    margin-bottom: 30px;
  }
  .contacts-section-box .frm-row,
  .contacts-section-box .frm-row-submit {
    margin: 0 -5px;
  }
  .contacts-section-box .frm-field {
    padding: 0 5px;
    margin-bottom: 10px;
  }
  .contacts-section-box .field-main {
    -ms-flex: 1;
        flex: 1;
    width: auto;
  }
  .contacts-section-box .field-second {
    width: 253px;
  }
  .contacts-section-box .link-phone,
  .contacts-section-box .link-email {
    padding-left: 50px;
  }
  .contacts-section-box .link-phone:before,
  .contacts-section-box .link-email:before {
    width: 40px;
    height: 40px;
    margin-top: -20px;
  }
  .contacts-section-box textarea {
    max-height: 186px;
  }
  .contacts-section-box .frm-row-submit {
    display: -ms-flexbox;
    display: flex;
    padding-top: 15px;
    -ms-flex-align: center;
        align-items: center;
  }
  .contacts-section-box .frm-row-submit .field-info {
    -ms-flex: 1;
        flex: 1;
    margin: 0;
    width: auto;
    text-align: left;
  }
  .contacts-section-box .frm-row-submit .field-submit {
    width: auto;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .contacts-section-box .frm-row-submit .frm-select {
    margin: 0;
    display: block;
  }
  .contacts-section-box .action-wrap .btns.btns__page {
    height: 4.95em;
  }
  .contacts-section-box .btns.btns__page {
    font-size: 20px;
    letter-spacing: 0.2px;
    height: 4.5em;
    padding: 0 2.25em;
    font-weight: 400;
    font-family: 'Merriweather', serif;
  }
  .contacts-section-box .btns.btns__page * {
    font-family: 'Merriweather', serif;
  }
  .contacts-section-box .btns.btns__page .button-title {
    font-weight: 400;
  }
  .contacts-section-box .btns.btns__page .button-ico {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .reviews-section-box {
    position: relative;
  }
  .reviews-section-box .slick-list {
    overflow: visible;
  }
  .reviews-section-box .reference__iteminside {
    width: 414px;
  }
  .reviews-section-box .more-box {
    text-align: right;
    margin-top: 0;
    padding-top: 0;
  }
  .reviews-section-box .slider-inner-wrap {
    margin-bottom: 74px;
  }
  .reviews-section-box .slick-dots {
    padding-top: 100px;
    right: 400px;
    text-align: left;
    top: 100%;
    -ms-flex-pack: start;
        justify-content: flex-start;
    width: auto;
  }
  .warranty-section-box {
    font-size: 16px;
    line-height: 1.35;
    letter-spacing: 0.2px;
  }
  .warranty-section-box .containerS {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }
  .warranty-section-box .info-inner-wrap {
    -ms-flex: 1;
        flex: 1;
    padding-left: 30px;
  }
  .warranty-section-box .info-inner-wrap .titles {
    font-size: 30px;
    margin-bottom: 18px;
    padding-bottom: 12px;
  }
  .warranty-section-box .photo-inner-wrap {
    width: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 0;
    padding: 33px 36px 33px 0;
  }
  .warranty-section-box .photo-inner-wrap:before {
    left: 80px;
  }
  .steps-section-box {
    font-size: 16px;
    line-height: 1.35;
    letter-spacing: 0.2px;
  }
  .steps-section-box .containerS {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }
  .steps-section-box .info-inner-wrap {
    padding: 0 30px 0 0;
    margin: 0;
    width: 39.5%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .steps-section-box .info-inner-wrap .titles {
    text-align: left;
    font-size: 30px;
    margin-bottom: 18px;
  }
  .steps-section-box .items-inner-wrap {
    width: 60.5%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .srt-slider-section-box .slider-inner-wrap {
    padding: 29px;
  }
  .srt-slider-section-box .slider-wrap {
    margin: 0 -15px;
  }
  .srt-slider-section-box .sl-wrap {
    padding: 0 15px;
  }
  .srt-slider-section-box .slick-dots {
    margin-top: 40px;
  }
  .srt-slider-section-box .elm-photo img {
    height: 365px;
  }
  .about-section-box {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
  }
  .about-section-box .photo-inner-wrap.photo-decor {
    padding: 36px 0 0 30px;
  }
  .about-section-box .photo-inner-wrap.photo-decor ~ .info-inner-wrap {
    padding-top: 25px;
  }
  .about-section-box .photo-inner-wrap.photo-decor:before {
    right: 30px;
    bottom: 30px;
  }
  .about-section-box .photo-inner-wrap .elm-photo + .elm-photop {
    margin-top: 30px;
  }
  .about-section-box .title-inner-wrap {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    margin-bottom: 30px;
  }
  .about-section-box .title-inner-wrap .titles {
    font-size: 2.4em;
    line-height: 1.35416667;
    margin-bottom: 30px;
    letter-spacing: 0.2px;
  }
  .about-section-box .title-inner-wrap a {
    text-decoration: none;
  }
  .about-section-box .desc-wrap {
    margin-bottom: 30px;
  }
  .about-section-box .desc-wrap b {
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
  }
  .about-section-box .info-wrap {
    margin: 0 -15px;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
  }
  .about-section-box .info-inner {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 0;
  }
  .about-section-box .info-tile {
    padding: 0.625em 1em;
    font-size: 24px;
    line-height: 1.33333333;
    letter-spacing: 0.1px;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .about-section-box .info-tile.tile-att .tile-ico {
    font-size: 1.66666667em;
    letter-spacing: 0.2px;
    width: 2.25em;
    height: 2.25em;
    line-height: 2.25;
    font-weight: bold;
  }
  .about-section-box .info-tile.tile-att .button-title {
    padding-left: 15px;
  }
  .about-section-box .info-tile .tile-ico {
    width: 2.29166667em;
    height: 2.20833333em;
    margin-right: 0;
  }
  .about-section-box .info-tile .tile-title {
    padding-left: 15px;
  }
  .about-section-box p {
    margin-bottom: 30px;
  }
  .about-section-box .action-wrap {
    margin-top: 50px;
  }
  .about-section-box .btns.btns__page {
    width: auto;
    font-size: 20px;
    letter-spacing: 0.2px;
    height: 4.95em;
    padding: 0 2.25em;
  }
  .about-section-box .btns.btns__page .button-ico {
    width: 2em;
    height: 2em;
  }
  .bg-box {
    padding: 120px 0;
  }
  .top-section-box.section-page .titles {
    margin-bottom: 30px;
    font-size: 58px;
    line-height: 65px;
    letter-spacing: 0.2px;
  }
  .top-section-box .info-inner-wrap {
    margin: 0;
    padding: 0 30px 0 0;
    width: 50.5%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .top-section-box .photo-inner-wrap {
    width: 49.5%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 0;
    padding: 78px 15px 78px 15px;
  }
  .top-section-box .photo-inner-wrap:before {
    top: 53px;
    bottom: 53px;
  }
  .top-section-box .photo-inner-wrap:after {
    left: 45px;
  }
  .top-section-box .actions-wrap {
    padding-top: 8px;
    margin-bottom: -30px;
  }
  .top-section-box .action-wrap {
    width: auto;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-bottom: 30px;
  }
  .top-section-box .action-wrap + .action-wrap {
    width: auto;
  }
  .top-section-box .action-wrap + .action-wrap + .action-wrap {
    width: 91px;
  }
  .top-section-box .action-wrap + .action-wrap + .action-wrap + .action-wrap .btns {
    width: auto;
    padding: 0 2.25em;
    height: 4.6em;
  }
  .top-section-box .action-wrap .btns.btns__page {
    font-size: 0.83333333em;
    height: 3.8em;
    padding: 0 1.3em;
  }
  .top-section-box .action-wrap .btns .button-ico {
    width: 1.6em;
    height: 1.6em;
    margin-right: 10px;
  }
  .top-section-box .box-inner-wrap {
    padding: 161px 0;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    text-align: left;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.1px;
  }
  .top-section-box .box-inner-wrap .titles {
    font-size: 2em;
    line-height: 1.25;
    letter-spacing: 0.2px;
    text-align: left;
    margin: 0 0 15px 0;
  }
  .top-section-box .box-inner-wrap:before {
    background: linear-gradient(90deg, #1F2732 0%, #1F2732 60%, #D0A144 60%, #D0A144 100%);
  }
  .top-section-box .beadcrumbs {
    margin-bottom: 15px;
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  .steps-section-box {
    font-size: 14px;
  }
  .top-section-box .box-inner-wrap {
    font-size: 16px;
  }
  .top-section-box .actions-wrap {
    margin-bottom: -10px;
  }
  .top-section-box .action-wrap {
    margin-bottom: 10px;
  }
}
@media (min-width: 993px) and (max-width: 1399px) {
  .about-section-box .info-tile {
    font-size: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .top-section-box .box-inner-wrap {
    font-size: 20px;
  }
  .top-section-box .actions-wrap {
    margin-bottom: -10px;
  }
  .top-section-box .action-wrap {
    margin-bottom: 10px;
  }
}
