<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta http-equiv="origin-trial" content="Az520Inasey3TAyqLyojQa8MnmCALSEU29yQFW8dePZ7xQTvSt73pHazLFTK5f7SyLUJSo2uKLesEtEa9aUYcgMAAACPeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZS5jb206NDQzIiwiZmVhdHVyZSI6IkRpc2FibGVUaGlyZFBhcnR5U3RvcmFnZVBhcnRpdGlvbmluZyIsImV4cGlyeSI6MTcyNTQwNzk5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Готовые решения</title><meta name="title" content="Готовые решения"><meta property="og:title" content="Готовые решения">    <meta name="description" content="Готовые решения"><meta property="og:description" content="Готовые решения">
	
	<link rel="stylesheet" href="./index_files/style.css">
	<link rel="stylesheet" href="./index_files/style_2.css">
	<link rel="stylesheet" href="./index_files/animate.min.css">
	<link rel="stylesheet" href="./index_files/magnific-popup.css">
	<link rel="stylesheet" href="./index_files/slick.css">
	<link rel="stylesheet" href="./index_files/slick-theme.css">
	<link rel="stylesheet" href="./index_files/jquery-ui.css">
	
	<script src="./index_files/jquery.min.js"></script>
	
	
	<link rel="stylesheet" href="./index_files/daterangepicker.css">
	
	<meta name="csrf-token" content="pMi6NaWsY913UuYUl0mFtdZ45SgoqTfvlLlDHiT2">
	
	<meta name="yandex-verification" content="e2bb82c28e11c6fa">
	
	<link rel="stylesheet" href="./index_files/style(1).css">
	
	<style>
        @media (min-width: 1600px) {
            .containerS {
                padding-left: 0;
                padding-right: 0;
            }
        }
        @media (min-width: 993px) {
            .side-wrap {
                width: 331px;
                -ms-flex-negative: 0;
                flex-shrink: 0;
            }
        }
	</style>
	<link rel="stylesheet" href="./index_files/widget.css" class="jv-css">
	<link rel="stylesheet" href="./css/style.css">
</head>