
<script src="https://smartpravo.com/front_user/js/jquery.magnific-popup.min.js"></script>
<script src="./index_files/jquery.maskedinput.min.js"></script>
<script src="./index_files/slick.min.js"></script>
<script src="./index_files/script.js"></script>
<script src="./index_files/jquery-ui.js"></script>
<script src="./js/jquery.swipebox.min.js"></script>
<script src="./index_files/scripts.js"></script>

<script>

	
	
	$(window).on('load', function () {
		/*function changeHeight(id) {
			let elem = document.getElementById(id)
			elem.style.height = elem.scrollHeight;
			console.log("Current Scroll Height: "+elem.scrollHeight)
			console.log("New Height: "+elem.style.height)
			console.log(elem)
		}
		document.getElementById("editor").addEventListener("change", changeHeight("editor"));
		changeHeight("editor")*/

		//map popup
		$('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
			disableOn: 700,
			type: 'iframe',
			mainClass: 'mfp-fade',
			removalDelay: 160,
			preloader: false,

			fixedContentPos: false
		});
		
		
		//image popup
		$('.image-popup-no-margins').magnificPopup({
			type: 'image',
			closeOnContentClick: true,
			closeBtnInside: false,
			fixedContentPos: true,
			mainClass: 'mfp-no-margins mfp-with-zoom', 
			image: {
				verticalFit: true
			},
			zoom: {
				enabled: true,
				duration: 300
			}
		});
		
		
		$('.more-box .btns').on('click', function() {
			$(this).parents('.containerS').find('.items-wrap').addClass('show-all');
			return false;
		})
		
		$('.field-button-hidden .button-action').on('click', function() {
			$(this).toggleClass('active');
			return false;
		})
		
		
		//srt-slider-section-box
		if (!!$('.srt-slider-section-box').offset()) {
			$('.srt-slider-section-box .slider').slick({
				dots: true,
				slidesToShow: 1,
				slidesToScroll: 1,
				variableWidth: true,
				infinite: true,
				adaptiveHeight: false,
				rows: 1,
				swipeToSlide: true,
				autoplay: true,
				autoplaySpeed: 3000,
				prevArrow: false,
				nextArrow: false,
			});

		}


		//reviews-section-box
		if (!!$('.reviews-section-box').offset()) {
			$('.reviews-section-box .slider').slick({
				dots: true,
				slidesToShow: 1,
				variableWidth: true,
				infinite: true,
				adaptiveHeight: false,
				rows: 1,
				swipeToSlide: true,
				autoplay: true,
				autoplaySpeed: 3000,
				prevArrow: false,
				nextArrow: false,
				centerMode: true,
				responsive: [
					{
						breakpoint: 993,
						settings: {
							slidesToShow: 2,
							variableWidth: false,
							centerMode: false,
						}
					},
					{
						breakpoint: 768,
						settings: {
							slidesToShow: 2,
							variableWidth: false,
							centerMode: false,
						}
					},
					{
						breakpoint: 640,
						settings: {
							slidesToShow: 1,
							variableWidth: false,
							centerMode: false,
						}
					},
				]
			});

		}
	});
</script>